@model IEnumerable<DamThuyHuong_K22CNT4_2210900028_project2.Models.banner>
@{
    ViewBag.Title = "DthIndex";
    Layout = "~/Areas/DthAdmin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <h2>Thêm Banner</h2>
            @using (Html.BeginForm("DthAddBanner", "DthBanner", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="mb-3">
                    <label for="bannerUrl" class="form-label">Hình ảnh</label>
                    <input type="file" class="form-control" id="bannerUrl" name="file" required>
                </div>
                <div class="mb-3">
                    <label for="bannerStatus" class="form-label">Trạng thái</label>
                    <select id="bannerStatus" class="form-select" name="trangThai">
                        <option value="true">Hiện</option>
                        <option value="false">Ẩn</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Thêm mới</button>
            }
        </div>

        <div class="col-md-8">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Hình ảnh</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" name="select1"></td>
                            <td><img src="~/Public/UpLoadImg/imgBanner/@item.hinhAnh" width="350" height="200"></td>
                            @if(item.trangThai == true)
                            {
                                <td>
                                    @using (Html.BeginForm("DthAn", "DthBanner", FormMethod.Post))
                                    {
                                        <input type="hidden" value="@item.maBanner" name="maBanner" />
                                        <button style="border: none; background: none;"><i class="fa-solid fa-eye"></i></button>
                                    }
                                </td>
                             }
                            else
                            {
                        <td>
                            @using (Html.BeginForm("DthHienThi", "DthBanner", FormMethod.Post))
                            {
                                <input type="hidden" value="@item.maBanner" name="maBanner" />
                                <button style="border: none; background: none;"><i class="fa-solid fa-eye-slash"></i></button>
                            }
                        </td>
                            }
                            <td> 
                                @using (Html.BeginForm("DthDelete", "DthBanner", FormMethod.Post))
                                    {
                                        <input type="hidden" value="@item.maBanner" name="maBanner" />
                                        <button style="border: none; color: red; background: none;"><i class="fa-solid fa-trash"></i></button>
                                    }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


