
@{
    ViewBag.Title = "Đăng nhập Admin";
    Layout = "~/Areas/DthAdmin/Views/Shared/ViewLogin.cshtml";
}
<form id="form-login" role="form" method="post">
    <h1 class="form-heading">Đăng nhập</h1>
    <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl" />
    <div class="form-group">
        <p class="text-danger">@TempData["error"] </p>
    </div>
    <div class="form-group">
        <i class="far fa-user"></i>
        <input type="text" class="form-input" placeholder="Email" name="email">
    </div>
    <div class="form-group">
        <i class="fas fa-key"></i>
        <input type="password" class="form-input" placeholder="Mật khẩu" name="matKhau">
        <div id="eye">
            <i class="far fa-eye"></i>
        </div>
    </div>
    <input type="submit" value="Đăng nhập" class="form-submit">
</form>

