<li class="nav-item">
    <a class="nav-link" href="@Url.Action("DthIndex","DthCart")">
        <i class="fa-solid fa-cart-shopping" style="font-size: 20px;"></i>
        <span class="badge badge-danger" id="cartCount">@ViewBag.totalItem </span>

    </a>
</li>
